# .env-exemple

# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev # Changez ceci en fonction de votre environnement (dev, prod, test)

APP_SECRET=your-app-secret # Changez ceci pour un secret unique pour votre environnement local (ex : APP_SECRET=7207d4d33911dd8b8)
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml

# Pour une base de données MySQL (changer ces informations)
DATABASE_URL="mysql://username:password@localhost:3306/database_name?serverVersion=10.11.2-MariaDB&charset=utf8mb4"
# Si vous utilisez PostgreSQL :
# DATABASE_URL="postgresql://username:password@localhost:5432/database_name?serverVersion=16&charset=utf8"

###< doctrine/doctrine-bundle ###

# URL de l'API pour récupérer les stations
API_VELIKO_URL='http://localhost:9042' # Changez ceci en fonction de l'URL de l'API que vous utilisez

# Port API Veliko
API_VELIKO_PORT='9042' # Changez le port si nécessaire

###> symfony/mailer ###
MAILER_DSN="smtp://localhost:1025" # Mettez ici vos informations de connexion pour le serveur SMTP
###< symfony/mailer ###
