{% extends 'base.html.twig' %}

{% block title %}Carte des stations de vélos{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />

    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Carte des Stations de Vélo</h1>
    <div id="map"></div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script>
        function initMap() {
            console.log('Initializing map...');

            //Initialisation Paris
            var map = L.map('map').setView([48.8566, 2.3522], 12);

            L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                attribution: 'Données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                minZoom: 1,
                maxZoom: 20
            }).addTo(map);


            var markers = L.markerClusterGroup();

            var stations = {{ stations|json_encode()|raw }};
            console.log('Stations data:', stations);

            stations.forEach(function(station) {
                var marker = L.marker([station.lat, station.lon])
                    .bindPopup("Nom : " + station.name +
                        "<br>Capacité : " + station.capacity); // a completer avec capacite electrique et mecanique
                markers.addLayer(marker);
            });

            // Groupe Station
            map.addLayer(markers);
        }

        window.onload = initMap;
    </script>
{% endblock %}
